ul{
    background-color: turquoise;
    border: 1px solid red;
    list-style: none;
    padding: 0;
    overflow: hidden;
}
li{
    border: 1px solid red;
    float: left;
    width: 100px;
    line-height: 1.6;
    background-color: gold;
    text-align: center;                                                                                                                                                                                         
}
a{
    text-decoration: none;
    background-color: blue;
    display: block
}
a:hover
{
    color: white;
    font-size: 15px;
p{
    clear: both; 
}